* {
  margin: 0;
  padding: 0;
}
.upgradeItem {
  background-color: aqua;
  color: crimson;
  border: red, 1px, solid;
}
#upgrades {
  display: inline-flex;
  flex-direction: column;
  align-items: end;
}
